/* TOGGLE MODE*/

:root {
    --text-color: #fff;
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --hightlight-color: rgba(255, 255, 255, 0.2);
    --switch-bg: url(../../assets/moon-stars.svg);
}

.light {
    --text-color: black;
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --hightlight-color: rgba(0, 0, 0, 0.1);
    --switch-bg: url(../../assets/sun.svg);
}

.switch{
    position: relative;

    width: 64px;
    margin: 4px auto;
}

.switch button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;

    background: #fff var(--switch-bg) no-repeat center;

    position: absolute; /*sobrepõe a camada*/
    z-index: 1;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    animation: slide-out .2s;
}

.light .switch button {
    animation: slide-in .2s forwards;

}

.switch button:hover {
    outline: 8px solid var(--hightlight-color);
}

.switch span{
    display: block;
    width: 64px;
    height: 24px;
    border-radius: 9999px;
    border: 1px solid var(--stroke-color);
    background-color: var(--surface-color);
    -webkit-backdrop-filter: blur(4px);

}

@keyframes slide-in {
    from {
        left: 0;
    }
    to {
        left: 50%;
    }
}

@keyframes slide-out {
    from {
        left: 50%;
    }
    to {
        left: 0;
    }
}
